<!DOCTYPE html>
<html lang="vi">

<head>
  <meta charset="UTF-8">
  <title>Quên mật khẩu</title>
  <link rel="stylesheet" href="register-login.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" href="../images/logo_transparent.png">
</head>

<body>
  <header class="main-header">
    <div class="header-container">
      <div class="logo">
        <a href="../Home/homepage.html"> <img src="../images/logo_transparent.png" alt="VAL Edu Logo"></a>
        <div class="logo-text">
          <strong>VAL Edu</strong>
          <span>English Center For Everyone</span>
        </div>
      </div>
      <nav class="nav-menu">
        <ul>
          <li><a class="active" href="../Home/homepage.html">Trang chủ</a></li>
          <li class="dropdown">
            <a href="#">Giới thiệu</a>
            <ul class="dropdown-content">
              <li><a href="#">Hall Of Fame</a></li>
              <li><a href="#">Đội ngũ giáo viên tại VAL Edu</a></li>
              <li><a href="#">Liên hệ</a></li>
              <li><a href="#">Tuyển dụng</a></li>
              <li><a href="#">Câu hỏi thường gặp (FAQ)</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#">Khóa Học</a>
            <ul class="dropdown-content">
              <li><a href="#">KHÓA HỌC IELTS CƠ BẢN</a></li>
              <li><a href="#">KHÓA HỌC IELTS CẤP TỐC</a></li>
              <li><a href="#">KHÓA HỌC TOEIC</a></li>
              <li><a href="#">KHÓA HỌC TIẾNG ANH TIỂU HỌC</a></li>
              <li><a href="#">KHÓA HỌC TIẾNG ANH THCS</a></li>
              <li><a href="#">KHÓA HỌC TIẾNG ANH THPT</a></li>
            </ul>
          </li>
          <li><a href="#">Lịch Khai giảng</a></li>
          <li class="dropdown">
            <a href="#">Thư viện</a>
            <ul class="dropdown-content">
              <li><a href="#">IELTS</a></li>
              <li><a href="#">TOEIC</a></li>
              <li><a href="#">Tiếng Anh giao tiếp</a></li>
            </ul>
          </li>
          <li><a href="#">Tin tức</a></li>
        </ul>
      </nav>
      <div class="cta-button">
        <a href="login.html" class="sign-in-btn">Đăng nhập</a>
        <a href="register.html" class="register-btn">Đăng ký</a>
      </div>
    </div>
  </header>
  <div class="container">
    <div class="left">
      <img src="../images/sign_in_image.jpg" alt="Nhóm học sinh">
    </div>
    <div class="right">
      <h2>Lấy lại mật khẩu</h2>
      <form id="registerForm">

        <label for="email">Nhập email của bạn *</label>
        <input type="email" id="email" placeholder="Nhập Email của bạn" required>

        <button type="submit">Lấy lại mật khẩu</button>
      </form>
    </div>
  </div>

  <footer class="footer">
    <p>&copy; 2025 VAL Edu. All rights reserved.</p>
  </footer>

</body>

</html>