:root {
    --bg-color:white;
    --text-color: black;
}

.dark-mode {
    --bg-color: #181a1a;
    --text-color: #ffffff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background: var(--bg-color);
    padding: 1rem 1rem;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;    z-index: 100;
    height: 45px;
    border-bottom: 2px solid #108AB1;
}

.logo {
    height: 50px;
    border-radius: 8px;
}

.header-left-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /*border: #000000 1px solid;*/
    flex: 0.1;
}

.header-right-container {
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    /*border: black 1px solid;*/
    flex: 1;
}

.header-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    margin: 5px;
}

.header-button:hover {
    transform: scale(1.3);
    transition: 0.3s;
    background-color: #cfcfcf;
}

.nav-toggle-header {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    background: white;
}

.nav-toggle-header:hover {
    transform: scale(1.3);
    transition: 0.3s;
    background-color: #cfcfcf;
}

.dark-mode-toggle .fa-sun{
    display: block;
}

.dark-mode-toggle .fa-moon{
  display: none;
}

.dark-mode-toggle.active .fa-sun{
    display: none;
}

.dark-mode-toggle.active .fa-moon{
    display: block;
}

.nav-bar {
    position: fixed;
    top: 150px;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    z-index: 101;
    display: flex;
    flex-direction: column;
}

.nav-toggle {
    display: absolute;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100vh;
    background-color: black;
    border-bottom: 1px solid #108AB1;
}